body {
    background-color: gold;
}

h1{
   font-size: 7vw; 
   color: black;
   text-shadow: 800px 50px 400px green,
   -6px -6px 6px white; 
}

main p {
    color: black;
}

h2{
    font-size: 5vw;
    background-color: black;
    color: white;
    text-shadow: 800px 50px 400px green,
    -4px -4px 2px gold;
}

ol {
    background-color: gold;
    color: black;
    list-style-position: inside;
}

ul {
    background: gold;
    color: blacke;
    list-style-position: inside;
}